<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--connectionString nodeları arasında 2 yeni bağlantı bilgisi eklendi-->
	<connectionStrings>
		<add name ="SQLSQL" connectionString="Data Source=DESKTOP-CU1M14V\SQLKODLAB;Integrated Security=True;Encrypt=False"/>
		<add name ="SQLEMEK" connectionString="Data Source=DESKTOP-CU1M14V\SQLKODLAB;Integrated Security=True;Encrypt=False"/>
	</connectionStrings>
</configuration>